<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/fragments :: html_head">

</head>
<body>
<div id="wrapper">
  <!-- Header -->
  <header th:replace="user/fragments :: header_menu" class="header">

  </header>
  <div class="main">
    <div  class="contact_form_container">
      <div  style="margin-top: 100px" class="box contact_form__box">
        <div class="contact_form__title">Form liên hệ</div>
        <form style="margin-top: 20px" name='f' th:action="@{/lien-he}" id="form_contact" class="contact__form" method="post"
              onsubmit="return validateForm()">
          <label>
            <input id="form_name" class="contact__form_name input_field" required name="fullname" placeholder="Họ và Tên"
                   type="text" value="">
          </label>
          <label>
            <input id="form_email" class="contact__form_email input_field" required name="email" placeholder="E-mail"
                   type="text" value="">
          </label>
          <label>
            <input id="form_subject" class="contact__form_subject input_field" required name="phonenumber"
                   placeholder="Số điện thoại" type="text">
          </label>

          <textarea required name="content" id="form_mess" placeholder="Nội dung" rows="4"
                    class="contact__form_mess input_field"></textarea>
          <input type="submit" class="contact__form_button button trans_200" value="Gửi">
          <p style="color:green;font-size: 30px;font-weight: bold;margin-top: 20px " th:utext="${msg}"></p>
        </form>

      </div>
    </div>
  </div>

  <footer th:replace="user/fragments :: footer" class="footer">

  </footer>
</div>
</body>

</html>